main {
  min-height: 80vh;
  background-size: cover;
  background-image: url('./background-images/main-background.jpeg');
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
.card-img-top {
  height: 15rem;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.action {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: #fff;
}
.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  background-color: white;
  background-clip: content-box;
  border-radius: 15%;
}
.carousel a {
  margin: 0 auto;
}
.carousel {
  background-image: url('./background-images/carousel-bg.jpg');
  background-repeat: round;
}
.header {
  background-image: url('./background-images/navbar-background.jpg');
}
.footer {
  color: white;
  background-image: url('./background-images/navbar-background.jpg');
}
#card:hover {
  background-color: rgb(226, 226, 226);
  border-color: rgb(58, 100, 253);
  box-shadow: 0 0 100px rgb(54, 187, 253);
}
table {
  background-color: white;
}
.profile {
  background-color: white;
}
.logo_var {
  font-size: xx-large;
  font-weight: lighter;
}
#search_box {
  width: 20rem;
}
.product_screen {
  background-color: white;
}
